:root {
    --font-xs: 1.5rem;
    --font-s: 3rem;
    --font-m: 3.5rem;
    --font-l: 5rem;

    --border-weight: 6px;
    --border-color: #000000;

    --text-color: #000000;
}

body {
    font-family: "Jersey 10", sans-serif;
    color: var(--text-color);
}

/*Remove default button styling*/
button {
    /* Remove all visual styling */
    background: none;
    border: none;
    padding: 0;
    margin: 0;

    /* Remove text styling */
    font: inherit;
    color: inherit;
    text-decoration: none;

    /* Remove browser-specific styling */
    outline: none;
    -webkit-appearance: none;
    appearance: none;

    /* Reset cursor and display */
    cursor: pointer;
    display: inline-block;
}

#calculator {
    max-width: 540px;
    width: 100%;
    margin: 70px auto 0;
}

#screen {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: var(--border-weight) solid var(--border-color);
    height: 6rem;
    font-size: var(--font-l);
    padding-inline: 15px;
}

#second-display {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: var(--font-s);
    margin-block: 20px;
    padding-inline: 5px;
}

.row {
    display: flex;
    justify-content: space-between;
    align-content: center;
    margin-block: 20px;
}

.numpad {
    text-align: center;
    width: 110px;
    height: 90px;
    border: var(--border-weight) solid var(--border-color);
    font-size: var(--font-m);
}

footer {
    margin-top: 40px;
    text-align: center;
    font-size: var(--font-xs);
}